data/ filter=lfs diff=lfs merge=lfs -text
data/aerosol_F2010.eam.h0.2014-12.nc filter=lfs diff=lfs merge=lfs -text
data/cstar0.vtr filter=lfs diff=lfs merge=lfs -text
data/TEMPEST_ne30pg2.scrip.renamed.nc filter=lfs diff=lfs merge=lfs -text
