eamapp/data/ filter=lfs diff=lfs merge=lfs -text
eamapp/data/aerosol_F2010.eam.h0.2014-12.nc filter=lfs diff=lfs merge=lfs -text
eamapp/data/connectivity.nc filter=lfs diff=lfs merge=lfs -text
eamapp/data/globe.vtk filter=lfs diff=lfs merge=lfs -text
